<% include head %>


<div class="row">
  <div class="span7 box">
    <h1><%= user.name %></h1>

    <div class="swell">
      <p>What would you like to do:</p>
      <a href="/rent" class="btn btn-inverse">Rent a bike</a>
      <a href="/list" class="btn btn-inverse">List a bike</a>
    </div>
  </div>
</div>

<% include foot %>
