<% include head %>

<% include listing %>

<div class="row">
  <div class="span7 box">
    <h1>you have completed the demo!</h1>
    <p class="swell">Your card ending in <%= last_four %> has
      been authorized for <%= listing.price %>.00 as a demonstration, but it
      will not actually be charged.</p>
    <p class="swell">Start integrating payments by visiting
      <a href="https://www.balancedpayments.com">balancedpayments.com</a></p>
  </div>
</div>


<% include foot %>
