<% include head %>

<% include listing %>

<div class="row">
  <div class="span7 box">
    <h1>Checkout</h1>
    <div class="span6 offset1">
      <form method="POST" id="purchase">
	<input type="hidden" name="_csrf" value="<%= csrf %>">

	<% if( has_card ) { %>
	<p>We already have your payment details on file, click "rent" to rent<br>this bike.</p>
	<% } else { %>

	<% if ( !user ) { %>

                    <p>I already have an account.
                        <a href="/login?r=<%= req.url %>">Sign me in</a>.</p>

<fieldset class="control-group ">
<label class="control-label" for="guest-name">Name</label>
    <div class="controls">
        <input autofocus="autofocus" class="span5" id="guest-name" name="guest-name" type="text" value="">
    </div>
</fieldset>


<fieldset class="control-group ">
<label class="control-label" for="guest-email_address">Email</label>
    <div class="controls">
        <input class="span5" id="guest-email_address" name="guest-email_address" type="text" value="">
    </div>
</fieldset>
	<% } else { %>
	<input type="hidden" name="name" value="<%= user.name %>" >
	<input type="hidden" name="email_address" value="<%= user.email %>" >
	<% } %>

<fieldset class="control-group ">
<label class="control-label" for="card_number">Credit Card Number</label>
    <div class="controls">
        <input autocomplete="off" class="span5" id="card_number" name="card_number" type="text" value="">
    </div>
</fieldset>

<div class="control-group">
  <label for="expiration_month">Expiration Date</label>
  <select class="span1" id="guest-expiration_month" name="guest-expiration_month"><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option><option value="11">11</option><option value="12">12</option></select>
  <select class="span1" id="guest-expiration_year" name="guest-expiration_year"><option value="2013">2013</option><option value="2014">2014</option><option value="2015">2015</option><option value="2016">2016</option><option value="2017">2017</option><option value="2018">2018</option><option value="2019">2019</option><option value="2020">2020</option><option value="2021">2021</option><option value="2022">2022</option></select>
</div>

	<% } %>
	<div class="actions">
	  <button class="btn btn-inverse">rent</button>
	</div>

      </form>
    </div>
  </div>
</div>

<% include foot %>
